<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Bahasa Inggris Anak - Admin - <%=sectionName%></title>
</head>

<body>
    <%- include('../partials/adm-top-menu.ejs') %>

    <content>
        <div class="row">
            <%- include('../partials/adm-side-menu.ejs') %>
            <div class="col s12 m10">
                <h4 class="red-text <%=titleColor%>"><%=sectionName%></h4>
                <div class="row">
                    <div class="col">
                        <a class="btn <%=buttonColor%>">Add</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="highlight" width="800">
                            <thead>
                                <tr>
                                    <th width="200">Title</th>
                                    <th width="300">Content</th>
                                    <th width="100">Created Date</th>
                                    <th width="200">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Some fancey title</td>
                                    <td class="truncate">Truncated descriotion that supposed to be quite long, and very
                                        cvery long not so sure how long but really really long</td>
                                    <td>16 Mar 2020</td>
                                    <td>
                                        <a class="btn" href="">Edit</a>
                                        <a class="btn" href="">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </content>

    <%- include('../partials/body-bottom.ejs') %>
</body>

</html>