<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/adm-head.ejs') %>
    <title>Bahasa Inggris Anak - Admin</title>
</head>

<body>
    <%- include('../partials/adm-top-menu.ejs') %>

    <content>
        <div class="row">
            <%- include('../partials/adm-side-menu.ejs') %>
            <div class="col s12 m10">
                <h4 class="red-text text-darken-4"><%=sectionName%></h4>
                <div>
                    Variety of dashboard widget here
                </div>
            </div>
        </div>
    </content>

    <%- include('../partials/adm-js-bottom.ejs') %>
</body>

</html>