<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/adm-head.ejs') %>
    <title>Bahasa Inggris Anak - <%=type%> - <%=sectionName%></title>
</head>

<body>
    <%- include('../partials/adm-top-menu.ejs') %>

    <content>
        <div class="row">
            <%- include('../partials/adm-side-menu.ejs') %>
            <div class="col m12 l10">
                <h4 class="red-text <%=textColor%>"><%=sectionName%> - <%=type%></h4>
                <br/>
                <div class="row">
                    <form class="col s11 m11 l9" action="/kntrblkg/artikel<%if (type === 'Edit') {%>/<%=item._id%><%}%><%if (type === 'Edit') {%>?_method=PUT<%}%>" method="POST">
                        <div class="row">
                            <div class="input-field">
                                <input id="judul" name="judul" type="text" class="validate" required="" aria-required="true" value="<%if (type === 'Edit') {%><%=item.Title%><%}%>">
                                <label for="judul">Judul</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="image" name="image" type="text" class="validate" required="" aria-required="true" value="<%if (type === 'Edit') {%><%=item.Image%><%}%>">
                                <label for="image">Cover</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <textarea id="artikel" name="artikel" class="materialize-textarea" required="" aria-required="true"><%if (type === 'Edit') {%><%=item.Artikel%><%}%></textarea>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <p>
                                    <label>
                                      <input id="status" name="status" class="filled-in" type="checkbox" <%=checkStatus%> />
                                      <span>Aktif</span>
                                    </label>
                                  </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input id="_id" name="_id" type="text" hidden value="<%if (type === 'Edit') {%><%=item._id%><%}%>">
                                <input id="CreatedDate" name="CreatedDate" type="text" hidden value="<%if (type === 'Edit') {%><%=item.CreatedDate%><%}%>">
                                <input id="CreatedBy" name="CreatedBy" type="text" hidden value="<%if (type === 'Edit') {%><%=item.CreatedBy%><%}%>">
                                <a class="btn grey lighten-4 <%=textColor%>" href="/kntrblkg/artikel"><i
                            class="material-icons">arrow_back</i> Kembali</a>
                        <button class="btn grey lighten-4 <%=textColor%>" type="submit"><i
                                class="material-icons">save</i>
                            Simpan</button>
                </div>
            </div>


        </div>
        </form>
        </div>
        </div>
    </content>
    <%- include('../partials/adm-js-bottom.ejs',{item}) %>
</body>

</html>