<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Bahasa Inggris Anak - <%=type%> <%=sectionName%></title>
</head>

<body>
    <%=type%> <%=sectionName%>
</body>

</html>